* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100vh;
  width: 100%;
  background-color: #814443;
  display: flex;
  align-items: center;
  justify-content: center;
}

#donationPage {
  height: 95vh;
  width: 95%;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
}

#donationPage1 {
  height: 100%;
  width: 40%;
  background-image: url(./donate.jpg);
  background-size: cover;
  border-radius: 15px 0 0 15px;
}

#donationPage2 {
  height: 100%;
  width: 60%;
  background-color: #dfcfb6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
}

#makeADonation {
  height: 85%;
  width: 85%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#top {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  color: #333;
  font-size: 50px;
  text-align: center;
}

p {
  color: #666;
  font-size: 20px;
  text-align: center;
  margin: 3px;
}

#mid {
  max-width: 90%;
}
#nameEmail {
  display: flex;
}

#phoneNo-amount {
  display: flex;
}

.form-group {
  margin: 0 5px 20px 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #efefef;
}

#sumbitBtn {
  display: flex;
  justify-content: flex-end;
}

button {
  display: block;
  width: 95%;
  padding: 25px;
  font-size: 18px;
  color: #fff;
  background-color: #597952;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6b9062;
}

@media (min-width: 521px) and (max-width: 999px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.8rem;
  }

  .form-group {
    margin-bottom: 10px; /* Adjusted margin for responsiveness */
  }

  button {
    padding: 12px; /* Adjusted padding for responsiveness */
    font-size: 1.2rem; /* Adjusted font size for responsiveness */
  }
}

@media (max-width: 520px) {
  #donationPage {
    flex-direction: column; /* Added for responsiveness */
  }

  #donationPage1 {
    height: 25%; /* Adjusted height for responsiveness */
    width: 100%; /* Adjusted width for responsiveness */
    background-image: url(./donateMediaQ.jpg);
    background-size: cover;
  }

  #donationPage2 {
    height: 75%; /* Adjusted height for responsiveness */
    width: 100%; /* Adjusted width for responsiveness */
  }

  #makeADonation {
    height: 95%;
    width: 95%; /* Adjusted width for responsiveness */
  }

  #top {
    width: 90%;
    margin: 3px;
    padding: 3px;
  }

  h1 {
    font-size: 1.2rem; /* Adjusted font size for responsiveness */
  }

  p {
    font-size: 0.6rem; /* Adjusted font size for responsiveness */
    margin: 1px;
  }

  #nameEmail {
    margin-bottom: 10px;
  }

  .form-group {
    margin: 3px; /* Adjusted margin for responsiveness */
  }

  label {
    margin-bottom: 3px;
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    font-size: 0.7rem; /* Adjusted font size for responsiveness */
  }

  #sumbitBtn {
    margin-top: 20px; /* Adjusted margin for responsiveness */
  }

  #sumbitBtn {
    justify-content: center;
  }
  button {
    width: 100%; /* Adjusted width for responsiveness */
    padding: 15px; /* Adjusted padding for responsiveness */
    font-size: 1.2rem; /* Adjusted font size for responsiveness */
  }
}
